section {
    width: 80%;
    margin: 5% auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    width: 250px;
    padding: 20px;
    border-radius: 12px;
    background-color: #fff;
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.details button{
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color: aqua;
    color: rgb(15, 164, 57);
}
